---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"s+0cdiWpXXS2S/VQCh9xZNgBYQtLQceMVLOJlVtxYWcRvixTP/0cpKH3YdtgNQFrO4Fj2tdNFhjm4Hl5oS1Osmsga4025/yVG3CCktDjwec=","expires_in":1800,"refresh_token":"SxlCUpDjbtqBolwY0aK8L7goM3wUFzmbi2+yCxCaJWFXs54R4VVPiyzi+KjyDImCzJHVcHEJd09DrUJfzAkpZjUWRlvKcJ9cWPVO+e9mWTQ="}'
  recorded_at: Sat, 19 Oct 2019 13:12:23 GMT
- request:
    method: post
    uri: https://testgw.gopay.cz/api/payments/payment
    body:
      encoding: UTF-8
      string: '{"payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"amount":10000,"currency":"CZK","order_number":"order-1","order_description":"foo","lang":"CS","callback":{"return_url":"http://localhost","notification_url":"http://localhost/2"},"recurrence":{"recurrence_cycle":"WEEK","recurrence_period":10,"recurrence_date_to":"2050-01-01"},"target":{"type":"ACCOUNT","goid":"1111111111"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":3090066941,"order_number":"order-1","state":"CREATED","amount":10000,"currency":"CZK","payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"target":{"type":"ACCOUNT","goid":1111111111},"recurrence":{"recurrence_cycle":"WEEK","recurrence_period":10,"recurrence_date_to":"2050-01-01","recurrence_state":"REQUESTED"},"lang":"cs","gw_url":"https://gw.sandbox.gopay.com/gw/v3/0bd5bc9c9ab85f347564f9eb8fb0b2a3"}'
  recorded_at: Sat, 19 Oct 2019 13:12:23 GMT
recorded_with: VCR 5.0.0
