---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"johO6hfbyH96q3xHZoaLaOaZ6fDeLZy2ovxUBppZJzu6A5Wpgb6Z4XXpvW57RvihisqyQnJf4C7QhXEZUT6LxI7Z/2Fiyr5wXwhfUhXlKNA=","expires_in":1800,"refresh_token":"BaeTjmEUR9eTSfejKvMmhXPiGVQQv90qcGTHmgyOmGWoB0LhN54ybcdk77r7b8gK3AEBawt00tOBe9YWRy4VXGXjl4pt/jpeZ0XTe4sprRY="}'
  recorded_at: Sat, 19 Oct 2019 13:27:21 GMT
- request:
    method: post
    uri: https://testgw.gopay.cz/api/payments/payment
    body:
      encoding: UTF-8
      string: '{"payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"amount":10000,"currency":"CZK","order_number":"order-1","order_description":"foo","lang":"CS","callback":{"return_url":"http://localhost","notification_url":"http://localhost/2"},"target":{"type":"ACCOUNT","goid":"1111111111"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":3090066980,"order_number":"order-1","state":"CREATED","amount":10000,"currency":"CZK","payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"target":{"type":"ACCOUNT","goid":1111111111},"lang":"cs","gw_url":"https://gw.sandbox.gopay.com/gw/v3/583d98f8dfadbd7289fb49ab6da95d43"}'
  recorded_at: Sat, 19 Oct 2019 13:27:22 GMT
recorded_with: VCR 5.0.0
