---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"TXrkmyOJvZ8CQeoru8eIbuvwmrJ4TYGVNVq5JcLYCa47HhODPqk6tPkggCXIbqqkn8RrNz5lkRNZhDaZYfPKbuRXmAZBlgRlx4xvUaw/q68=","expires_in":1800,"refresh_token":"Fv9uD0bAyNjMEhI1gZer0SYwO3+dkURtInF4D07pyNljBmr0VwCtU0uDD5+3+Is/IuF9zOe0r59CWSmUzoAIi8BRAxyC7FTOC7YePiYgULc="}'
  recorded_at: Sat, 19 Oct 2019 13:12:33 GMT
- request:
    method: get
    uri: https://testgw.gopay.cz/api/payments/payment/3090060402
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":3090060402,"order_number":"order-1","state":"REFUNDED","payment_instrument":"PAYMENT_CARD","amount":10000,"currency":"CZK","payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"payment_card":{"card_number":"418803******0003","card_expiration":"2112","card_brand":"VISA
        Electron","card_issuer_country":"CZE","card_issuer_bank":"KOMERCNI BANKA,
        A.S."},"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com","country_code":"CZE"}},"target":{"type":"ACCOUNT","goid":1111111111},"lang":"cs","gw_url":"https://gw.sandbox.gopay.com/gw/v3/95c24246256a19e1f4903d18a5cb9c31"}'
  recorded_at: Sat, 19 Oct 2019 13:12:33 GMT
recorded_with: VCR 5.0.0
