---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"l6NUrVG9CP83bbjFf4LqQwDW19DvoHykQhfAybajSKWlKQljm1igHUgdZc9oMYIkjphTqV9ULBYbBko8/FDin0AeGRE6KK1cN8a1GNMe2Gg=","expires_in":1800,"refresh_token":"jIb58aRnwkYR4E131G37kJon/E6fV2JmURb8gXA2oypEp9GhTRfV+9QszbOD1xJodrCDQzWFM51rOxT5Fr11vh/CEHN5Tnz6kiOpg3eP57g="}'
  recorded_at: Sat, 19 Oct 2019 13:12:34 GMT
- request:
    method: get
    uri: https://testgw.gopay.cz/api/payments/payment/100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"date_issued":"2019-10-19T15:12:34.174+0200","errors":[{"scope":"G","error_code":304,"error_name":"PAYMENT_NOT_FOUND","message":"Payment
        not found."}]}'
  recorded_at: Sat, 19 Oct 2019 13:12:34 GMT
recorded_with: VCR 5.0.0
