---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"bK1oEFFSE5p5Nu0B0NHf25x7PZC9xwSlZz4QfLcHFx1qThJm/X0M8HEbcT2KmZoZe9U6AGPtQZ8OIOXXytlKHaZuwwcQJ8iaMtZG4c94Kns=","expires_in":1800,"refresh_token":"nGp2WrNPR3wMZ5mkoh4CIQyTXv5J2OpzGSIsAyNm5n9R8lCDS8ptvaeLgmxFY+GKM1C3mWQlDmABy9ntRAtCE6TvbtVnTDYniwswti7kYTs="}'
  recorded_at: Sat, 19 Oct 2019 13:41:36 GMT
- request:
    method: post
    uri: https://testgw.gopay.cz/api/payments/payment/100/void-recurrence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"date_issued":"2019-10-19T15:41:36.346+0200","errors":[{"scope":"G","error_code":340,"error_name":"PAYMENT_RECURRENCE_FAILED","message":"Recurring
        payment failed"}]}'
  recorded_at: Sat, 19 Oct 2019 13:41:36 GMT
recorded_with: VCR 5.0.0
