---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"dZssp3tYRRKoN5N0jHPWXHsPaFaOZkkSoKLp93pcdVDR+oJlqQVoPYEgE57WxpU2mc7ELITxC+AE0hNZTZICIoH6pmvTc6IRI/+S0SpjZ1U=","expires_in":1800,"refresh_token":"jnu2jFHJ5aUs/mE78ohZ8DStix7NMo16dl8+SyRFl/AIe1+EOo5Dly9ZrfNtIS2GCLtl1hTETzWGO2eDYMKdYYKiP0xFfizuUj7YWzBIGFU="}'
  recorded_at: Sat, 19 Oct 2019 13:36:34 GMT
- request:
    method: post
    uri: https://testgw.gopay.cz/api/payments/payment
    body:
      encoding: UTF-8
      string: '{"payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"amount":10000,"currency":"CZK","order_number":"order-1","order_description":"foo","lang":"CS","callback":{"return_url":"http://localhost","notification_url":"http://localhost/2"},"target":{"type":"ACCOUNT","goid":"1111111111"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":3090067162,"order_number":"order-1","state":"CREATED","amount":10000,"currency":"CZK","payer":{"allowed_payment_instruments":["PAYMENT_CARD"],"contact":{"first_name":"John","last_name":"Doe","email":"john@example.com"}},"target":{"type":"ACCOUNT","goid":1111111111},"lang":"cs","gw_url":"https://gw.sandbox.gopay.com/gw/v3/5fb682873581cc28c8dbb62f7cd1296d"}'
  recorded_at: Sat, 19 Oct 2019 13:36:34 GMT
recorded_with: VCR 5.0.0
