---
http_interactions:
- request:
    method: post
    uri: https://testgw.gopay.cz/api/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=payment-all
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"cJUtqmBUHVvXhlpKt85kZgcg34HTUwh36XsBmD6ZnMspTeXV8AvzPbMYMRTEszdBmCP2Yx8sScl7zMoxPCD3h9zwmgr6lO0uvE96kBm3iJ0=","expires_in":1800,"refresh_token":"2lPGTyxOIxz12hrzv4lmBNukMLXIB6h/zhqL3JX97UdH/OzPD9h0tPR2b93Ksic6eUExX9s3PUZatjFpsmSYHVsPu04c1hHvCqaX+QBp3FA="}'
  recorded_at: Sat, 19 Oct 2019 13:42:03 GMT
- request:
    method: post
    uri: https://testgw.gopay.cz/api/payments/payment/100/refund
    body:
      encoding: US-ASCII
      string: amount=100
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION FILTERED OUT>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"date_issued":"2019-10-19T15:42:03.905+0200","errors":[{"scope":"F","field":"id","error_code":111,"error_name":"INVALID","message":"Wrong
        value."}]}'
  recorded_at: Sat, 19 Oct 2019 13:42:03 GMT
recorded_with: VCR 5.0.0
